# Kconfig file for package riscv64-linux-musleabi-gcc
menuconfig PKG_USING_RISCV_LINUX_MUSLEABI_GCC
    bool "riscv64-linux-musleabi-gcc toolchain (for smart)"
    default n

if PKG_USING_RISCV_LINUX_MUSLEABI_GCC

    config PKG_RISCV_LINUX_MUSLEABI_GCC_PATH
        string
        default "sdk/Windows/riscv64-linux-musleabi-gcc"

    choice
        prompt "Version"
        help
            Select the package version

        config PKG_USING_RISCV_LINUX_MUSLEABI_GCC_LATEST
            bool "latest"

    endchoice

    config PKG_RISCV_LINUX_MUSLEABI_GCC_VER
       string
       default "latest" if PKG_USING_RISCV_LINUX_MUSLEABI_GCC_LATEST

endif
