# Kconfig file for package aarch64-none-elf-gcc
menuconfig PKG_USING_AARCH64_NONE_ELF_GCC
    bool "aarch64-none-elf-gcc toolchain"
    default n

if PKG_USING_AARCH64_NONE_ELF_GCC

    config PKG_AARCH64_NONE_ELF_GCC_PATH
        string
        default "sdk/Linux/aarch64-none-elf-gcc"

    choice
        prompt "Version"
        help
            Select the package version

        config PKG_USING_AARCH64_NONE_ELF_GCC_V132REL1
            bool "v13.2.rel1"
    endchoice

    config PKG_AARCH64_NONE_ELF_GCC_VER
       string
       default "v13.2.rel1"   if PKG_USING_AARCH64_NONE_ELF_GCC_V132REL1

endif
